@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Tailwind CSS Breakpoints:
  'sm': '640px'    → @media (min-width: 640px)
  'md': '768px'    → @media (min-width: 768px)
  'lg': '1024px'   → @media (min-width: 1024px)
  'xl': '1280px'   → @media (min-width: 1280px)
  '2xl': '1536px'  → @media (min-width: 1536px)
*/

:root {
  --background: #0a0a0a;
  --foreground: #171717;
  --primary: #e2e8f0;
  --secondary: #9ca3af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply text-secondary transition-colors;
}

a:hover {
  @apply text-primary;
}

.bg-cover-der-Komponist {
  background: url(/img/4/Cover/Grimm_am_Klavier-small.png) right center;
  background-size: 90vh !important;
  background-repeat: no-repeat !important;
}

@media (max-width: 992px) {
  .bg-cover-der-Komponist {
    background: url(/img/4/Cover/Grimm_am_Klavier-xsmall.png) center center;
    background-size: 60vh !important;
    background-repeat: no-repeat !important;
  }
}
